@use "./base.scss";
// put your custom CSS here!

body {
    color: var(--text);
    font-family: "Victor Mono" !important;
    font-weight: 700;
    font-size: 14px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://nextcloud.ftr10.dev/s/QpJA53w2xZqCB74/download/1118453-amazing-full-black-wallpaper-1920x1080-download-free.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    opacity:1;
    
}